absl-py==1.3.0
beautifulsoup4==4.11.1
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
cachetools==5.2.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer==2.1.1
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython @ file:///opt/conda/conda-bld/cython_1663692770955/work
dataclasses==0.6
filelock==3.9.0
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.25.0
future==0.18.2
gdown==4.6.0
google-auth==2.15.0
google-auth-oauthlib==0.4.6
grpcio==1.51.1
idna==3.4
imageio==2.23.0
importlib-metadata==5.2.0
joblib @ file:///croot/joblib_1666298844297/work
jpeg4py==0.1.4
jsonpatch==1.32
jsonpointer==2.3
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1653292039266/work
loguru==0.6.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib @ file:///opt/conda/conda-bld/matplotlib-suite_1660167928326/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
munkres==1.1.4
networkx==2.6.3
numexpr @ file:///croot/numexpr_1668713893690/work
numpy==1.21.6
oauthlib==3.2.2
opencv-python==4.6.0.66
packaging @ file:///croot/packaging_1671697413597/work
pandas==1.3.5
Pillow==9.3.0
ply==3.11
protobuf==3.20.3
psutil==5.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser==2.21
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PyQt5-sip==12.11.0
PySocks==1.7.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///croot/pytz_1671697431263/work
PyWavelets==1.3.0
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1642601761909/work
scipy @ file:///opt/conda/conda-bld/scipy_1661390393401/work
seaborn @ file:///croot/seaborn_1673479180098/work
Shapely==1.6.4.post2
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve==2.3.2.post1
tb-nightly==2.12.0a20221228
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2021.11.2
tikzplotlib==0.10.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
torch==1.7.0+cu110
torchsummary==1.5.1
torchvision==0.8.1+cu110
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
typing_extensions @ file:///croot/typing_extensions_1669924550328/work
urllib3==1.26.13
visdom==0.2.3
webcolors==1.12
websocket-client==1.4.2
Werkzeug==2.2.2
wget==3.2
yacs==0.1.8
zipp==3.11.0
